STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres@localhost/$DB_NAME # change user and password if necessary
DB_NAME=medusa-algolia-integration
POSTGRES_URL=

KLARNA_USERNAME=
KLARNA_PASSWORD=
KLARNA_BASE_URL=
KLARNA_AUTHORIZATION_CALLBACK= # URL pattern: {public_url}/hooks/payment/klarna_klarna you can use ngrok to get a public URL in development
# KLARNA_AUTO_CAPTURE=true